**/Docs
**/QC
**/Alignments
**/Data
**/__pycache__
**/Nontargeting_samples_refseqs_index
**/Targeting_samples_refseqs_index
**/Fragments_coords
**/Read_pairs_TABs
**/Ends_counts
**/.ipynb_checkpoints
**/IGV_sessions
*.fai
*.wig
*.gz
*.tsv
*.bt2
*.zip
*.svg
*.png
.Rhistory
.RData
.Rproj.user
