**/Docs
**/QC
**/Alignments
**/Data
**/Nontargeting_samples_refseqs_index
**/Targeting_samples_refseqs_index
**/Fragments_coords
**/Read_pairs_TABs
**/Ends_counts
**/.ipynb_checkpoints
**/IGV_sessions
*.fai
*.wig
*.tsv.gz
*.bt2
.Rhistory
